/** Colors **/
$base-color-1: #1c90fe;
$base-color-2: #0052d9;

$bg-color-1: #ffffff;
$bg-color-2: #455EEF;

$text-color-1: #2e384d;
$text-color-2: #2e63fd;
$text-color-3: #ffffff;
$text-color-4: #686c80;
$text-color-5: #000000;

$mask-color: rgba(0, 0, 0, 0.45);

$t: transparent;

/** Config */
$text-opacity: 0.6;
$site-min-width: 375px;
$site-max-width: 1900px;
