html {
  height: 100%;
}

html, body {
  position: relative;
  min-height: 100%;
  min-width: 320px;
  // @include font(400, 16, 24);
  font-family: $opensans;
  color: $text-color-4;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

@each $key, $value in $breakpoints {
  .hidden-below-#{$key} {
    @include respond-below ($key) {
      display: none;
    }
  }
  .hidden-above-#{$key} {
    @include  respond-above ($key) {
      display: none;
    }
  }
}